body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*Leaderboard table*/
.leaderboardTable tr:hover{
    background-color: #e6e6e6;
    transition: 0.4s;
}


.leaderboardTable tr td{
    padding: 10px 12px;
    border-bottom: 1px solid #dddddd;
}

.leaderboardPicFirst{
    width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.leaderboardPicSecond{
    width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.leaderboardPicThird{
    width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.leaderboardPic{
    width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.a:hover{
    color: rgb(0, 116, 248);
    text-decoration: underline;
}

.first{
    font-weight: bolder;
    font-size: 30px;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}

.alignCEN{
    text-align: center;
}